@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

body{
   font-family: "Outfit", sans-serif;
}

button{
   background-color: #e89755;
   width: 140px;
   padding: 8px;
   color: #fff;
   font-weight: bold;
   cursor: pointer;
   border-radius: 18px;
   border: none;
   outline: none;
   transition: 0.3s;
}

button:hover{
   background-color: #c47331;
}

.cl-internal-8opd5o {
   width: 100%;
}